Source: nasm-segelf
Section: devel
Priority: optional
Maintainer: stsp <stsp2@yandex.ru>
Standards-Version: 4.6.1.0
Build-Depends:
 debhelper (>= 9~),
 dpkg-dev (>= 1.16.1~)
Homepage: https://github.com/stsp/nasm-segelf

Package: nasm-segelf
Architecture: any
Depends:
 dpkg (>= 1.15.4) | install-info,
 ${misc:Depends},
 ${shlibs:Depends},
Description: nasm fork with segelf patches
 Netwide Assembler fork with realmode segments support for ELF target.
